.square-img-container {
    position: relative;
}

    .square-img-container::after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

.square-img {
    position: absolute;
    /*    width: 100%;
    height: 100%;*/
    object-fit: cover;
    object-position: center;
}




.btn-primary {
    background-color: #e56363 !important;
    border: none !important;
}

.mainLogo {
    max-width: 800px;
}

.footer {
    flex-shrink: 0 !important;
    background-color: #e56363 !important;
    color: white !important;
}

.redCardBG {
    background-color: #e56363 !important;
    color: white !important;
}
