.square-img-container {
    position: relative;
}

    .square-img-container::after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

.square-img {
    position: absolute;
    /*    width: 100%;
    height: 100%;*/
    object-fit: cover;
    object-position: center;
}

.pill {
    border-radius: 100px !important;
}


.btn-primary {
    background-color: #e56363 !important;
    border: none !important;
}
